<h1>Counter</h1>

<p>This is a simple example of an Angular 2 component.</p>

<p>Current count: <strong>{{ currentCount }}</strong></p>

<button (click)="incrementCounter()">Increment</button>

<!--<div class="btn-group">
    <button class="btn btn-info" (click)="decrementCounter(10)">
        <span class="glyphicon glyphicon-minus"></span>10
    </button>
    <button class="btn btn-danger" (click)="decrementCounter()">
        <span class="glyphicon glyphicon-minus"></span>
    </button>
    <button class="btn btn-primary" (click)="incrementCounter()">
        <span class="glyphicon glyphicon-plus"></span>
    </button>
    <button class="btn btn-default" (click)="incrementCounter(10)">
        <span class="glyphicon glyphicon-plus"></span>10
    </button>
</div>-->